.MusicComments{
	font-family:sans-serif;
	font-size:1.2em;
	position: relative;
    display: inline-block;
    float: right;
    width: 75%;
}

/* Button */
.MusicButtonDesign{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 22%;    /* width: 7.5rem; */
    height: 70px;
    position: relative;
    display: inline-block; /* set the position in the same line */
}

.ClockDesign{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding-top: 10px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 22%;
    height: 70px;
    position: relative;
    display: inline-block;
}


/* Darker background on mouse-over */
.MusicButtonDesign:hover, .ClockDesign:hover { /* Need a "," if have "hover:" comments */
    background-color: RoyalBlue;
}

/* Comment Area */

.CommentArea{
    display: inline-block;
    height: 5rem;
}


#audio-spectrum{
    margin-bottom: 20px;
}

#SendComments{
    float: right;
}
