.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;border:none;margin:0px auto;}
.tg td{
  font-family:Arial, 
  sans-serif;
  font-size:14px;
  padding:20px 7px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#FFFACD;
}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 7px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#ccc;
  color:#333;
  background-color:#FFDAB9;
}
.tg .tg-qsvf{font-size:18px;vertical-align:top}
.tg .tg-2ktp{font-size:16px;vertical-align:top}
.tg .tg-s4a2{background-color:#FFE4B5;font-size:18px;vertical-align:top}
.tg .tg-90fe{background-color:#FFE4B5;font-size:16px;text-align:center;vertical-align:top}
.tg .tg-3w8c{background-color:#FFE4B5;font-size:16px;vertical-align:top}
.tg .tg-e9v8{font-size:15px;text-align:center;vertical-align:top}
.tg .tg-eklo{font-size:20px;vertical-align:top}
.tg .tg-5s0z{background-color:#FFE4B5;font-size:18px}
.tg .tg-lvth{font-size:16px;text-align:center;vertical-align:top}

