/* 
    The style sheet for music components.

*/

.question-container {
    margin-bottom: 15%;
}


.question-card {
    max-width: 300px;
    margin: 5px auto;
    min-height: 80px;
    border-radius: 25px;
    cursor: pointer;
    padding-bottom: 5px;
    /*     border: 1px solid #0000ff; */
}

.question-card div[class^="col"] h5 {  /* MEMC question words */
    /*     border: 1px solid black; */
    margin-top: 10%;
    margin-bottom: 20%; /* Add this comments to avoid plate shifting */
    /*     height: 40px; */
    font-size: 130%;
    font-family: 微軟正黑體;
    font-weight: 500;
    height: 45px;
}

.little {
    font-size: 105%;
}

.ui-widget {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 100%;
}

.ui-selectmenu-button {
    height: 27px;
    padding: 0px;
    padding-top: 4px;
    padding-left: 5%;
}

.ui-selectmenu-text {
    margin: 0 auto;
}

#intro3{
    width:100%;
    text-align: center;
}

.MEMCLabel{
    position: absolute;
    /* margin-bottom: 40%; */
}

.MEMCbutton{
    margin-top: 10%;
}