/* 
    The stylesheet for  
*/

/* ============================= The header part =============================== */

header {
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../../asset/violin1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron {
    margin-bottom: 0;
}

/* ============================= The main part =============================== */

main {
    /* background-color: #fff; */
    margin-top: -200px;
}

/* #main-block {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
    border-radius: 4px;
    add shadow box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #d8d8d8;
} */

section {
    /*     border: 1px solid black; */
    /*     margin-top: 30px; */
}

#instruction-section {
    padding-top: 50px;
}

#instruction-section div[class^=col] {
    border-bottom: 1px ridge;
    background-color: redl
}

#music-section {
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: 1px ridge;
}

#music-section #audio-spectrum {
    margin-bottom: 30px;
}

#music-section .MusicButtonDesign,
#music-section .ClockDesign {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 23%;
    height: 70px;
    /*     position: relative; */
    display: inline-block;
    /* set the position in the same line */
    /*     margin-right: 1px;
    margin-left: 1px;
    */
}

/* Darker background on mouse-over */

#music-section .MusicButtonDesign:hover,
#music-section .ClockDesign:hover {
    /* Need a "," if have "hover:" comments */
    background-color: RoyalBlue;
}

#music-section .ClockDesign {
    padding-top: 10px;
    /*     padding-bottom: 10px; */
    padding-left: 0px;
    padding-right: 0px;
}

#audio-spectrum {
    margin-top: 20px;
}

.disabled-wave {
    pointer-events: none;
}

.once-button {
    pointer-events: none;
}
